<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">NoCash</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" />
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span class="fa fa-home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-user"></span>
              Beneficiaries <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-money-check"></span>
              Deposits
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-file"></span>
              Invoice Upload
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-box"></span>
              Orders
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-chart-line"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-chart-line"></span>
              Last quarter
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <h2>Beneficiaries</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th colspan="2">Associated Account</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>amet</td>
              <td>consectetur</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>libero</td>
              <td>Sed</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>dapibus</td>
              <td>diam</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>Nulla</td>
              <td>quis</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>nibh</td>
              <td>elementum</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>sagittis</td>
              <td>ipsum</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>Fusce</td>
              <td>nec</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>augue</td>
              <td>semper</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>massa</td>
              <td>Vestibulum</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>eget</td>
              <td>nulla</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>taciti</td>
              <td>sociosqu</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>torquent</td>
              <td>per</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>per</td>
              <td>inceptos</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
            <tr>
              <td>sodales</td>
              <td>ligula</td>
              <td>Name</td>
              <td>ID</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
