<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span class="fa fa-home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-user"></span>
              Beneficiaries
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-money-check"></span>
              Deposits
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-file"></span>
              Invoice Upload
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-box"></span>
              Orders
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-chart-line"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span class="fa fa-chart-line"></span>
              Last quarter
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Customer Analytics</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

      <h2>Active Accounts</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1001</td>
              <td>Lorem</td>
              <td>ipsum</td>
              <td>dolor@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1002</td>
              <td>amet</td>
              <td>consectetur</td>
              <td>adipiscing@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1003</td>
              <td>libero</td>
              <td>Sed</td>
              <td>cursus@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1004</td>
              <td>dapibus</td>
              <td>diam</td>
              <td>Sed@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1005</td>
              <td>Nulla</td>
              <td>quis</td>
              <td>sem@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1006</td>
              <td>nibh</td>
              <td>elementum</td>
              <td>imperdiet@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1007</td>
              <td>sagittis</td>
              <td>ipsum</td>
              <td>Praesent@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1008</td>
              <td>Fusce</td>
              <td>nec</td>
              <td>tellus@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1009</td>
              <td>augue</td>
              <td>semper</td>
              <td>porta@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1010</td>
              <td>massa</td>
              <td>Vestibulum</td>
              <td>lacinia@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1011</td>
              <td>eget</td>
              <td>nulla</td>
              <td>Class@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1012</td>
              <td>taciti</td>
              <td>sociosqu</td>
              <td>ad@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1013</td>
              <td>torquent</td>
              <td>per</td>
              <td>conubia@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1014</td>
              <td>per</td>
              <td>inceptos</td>
              <td>himenaeos@email.com</td>
              <td>$0.00</td>
            </tr>
            <tr>
              <td>1015</td>
              <td>sodales</td>
              <td>ligula</td>
              <td>in@email.com</td>
              <td>$0.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
